// fonts
$main-font: 'Nunito Sans', sans-serif;

// colors
$dark-mode-el: #2b3945;
$dark-mode-bg: #202c37;
$light-mode-text: #111517;
$light-mode-inp: #858585;
$light-mode-bg: #fafafa;
$white: #ffffff;
$dark: #111111;
$sub-color: orange;

// dimension
$header: 65px;
$large: 40px;
$medium: 20px;
$small: 10px;
